@import "reset.css";

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 100px;
}

.container h1 {
  font-size: 3rem;
  font-weight: bold;
  margin: 1rem;
}

.countColorNum {
display: flex;
flex-direction: column;
align-items: center;
margin: 20px;
}

.js-colorSelect {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.js-colorSelect label {
margin-bottom: 10px;
}

.js-colorSelect input:nth-child(2) {
  width: 200px;
  height: 20px;
  margin: 20px;
  outline: cadetblue;
}

.js-colorSelect input:nth-child(3) {
  font-size: 1.2rem;
  color: white;
  width: 150px;
  height: 30px;
  margin: 20px;
  border: none;
  background-color: cadetblue;
  border-radius: 5px;
}

.js-colorSelect  input:focus {
  outline: none;
  box-shadow: 0 0 5px cadetblue;
}

#colorList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 4rem;
}

#colorList li {
  display: flex;
  width: 150px;
  height: 150px;
  align-items: flex-end;
  justify-content: center;
  margin: 5px;
}

#colorList li span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  background: rgba(0,0,0,0.5);
  width: 100%;
  height: 2rem;
  font-size: 1.2rem;
}

.is-hidden {
  display: none;
}

footer {
  display: flex;
  position: absolute;
  bottom: 0;
  background-color: gainsboro;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 100%;
  text-align: center;
  line-height: 3rem;
}

a {
  text-decoration: none;
}

.secondPalatte {
  margin: 20px;
  margin-top: 40px;
}